
{% extends 'layouts.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block jpt %}
<title>update profile form</title>
{% endblock %}

{% block main-content %}
{% include "users/header.html" %}

<!-- product section starts -->
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
       
            <h2 class="text-center">Update Profile </h2>
            {% for msg in messages %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class=" alert alert-success"> 
                  {{msg}}
              </div>
            {% endif %}
    
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class=" alert alert-danger"> 
               {{msg}}
            </div>
          {% endif %}
    
            {%endfor%}

            <form action="" method="post" class="shadow p-3">
                 {% csrf_token %}
                 {{ form|crispy }}
                 <div class="my-3">
                    <input type="submit" value="Update" class="btn btn-warning px-2 py-1">
                 </div>
            </form>

          
        </div>
    </div>
    
</div>
<!-- product section ends -->

{% include "users/footer.html" %}
{% endblock %}