{% extends 'admins/layout.html' %}

{%load static%}

{% block jpt %}
<title>categories</title>
{% endblock %}

{%block main-content%}
<h1 class="text-center text-success">All Categories</h1>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      {% for msg in messages %}

      {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class=" alert alert-success"> 
            {{msg}}
        </div>
      {% endif %}

      {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class=" alert alert-danger"> 
         {{msg}}
      </div>
    {% endif %}

      {%endfor%}
      <table class="table table-bordered table-striped caption-top">
        <caption>Category list:</caption>
            <thead>
              <tr>
                <th> ID </th>
                <th>Product Category </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
              <tr>
                <td> {{category.id}} </td>
                <td> {{category.category_name}}</td>
                <td>
                  <a href="/products/categories/updatecategory/{{category.id}}" class="btn btn-primary px-2 py-1 mb-2"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a href="/products/categories/deletecategory/{{category.id}}" class="btn btn-danger px-2 py-1 mb-2" onClick="return confirm('Are you sure want to delete this category?')"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
      </table>
      <a href="/products/addcategory" class="btn btn-warning px-2 py-1"> Add Category </a>
    </div>
  </div>
</div>
{%endblock%}
